{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Reset your password {% endblock title %}	

{% block content %}
<h1>Reset your password</h1>
<hr>
{% if validlink %}
	<p>Please enter your new password twice:</p>
	<form action="." method="post">			
		{{ form|crispy }}
		{% csrf_token %}
		<p><input type="submit" value="Change my password" class="btn btn-outline-secondary" name=""></p>
	</form>
{% else %}
	<p>The password reset link was invalid, possibly because it ahs already been used. Please request a neew password reset.</p>
{% endif %}
{% endblock content %}